EMBEDDING_PROVIDER=microservice
SALT_ROUNDS=10
JWT_SECRET=XcT9eneKMJVZUQEm0eEPPpMz0DhL71HyrnPjdF9r
# IMAP_TLS_REJECT_UNAUTHORIZED=false  # optional: disable TLS certificate verification for self-signed IMAP servers (testing only)
