DB_HOST=db
DB_PORT=5432
DB_NAME=postgres-db
DB_USERNAME=postgres
DB_PASSWORD=password
OLLAMA_URL=http://ollama:11434
RERANKING_MICROSERVICE_URL=http://reranking-microservice:8001/rerank
EMBEDDING_MICROSERVICE_URL=http://embedding-microservice:8002/embed
VITE_BACKEND_URL_WS=http://localhost:8080/api